.header-drawer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.drawer-nav{
    /* display: flex; */
    /* border: 1px solid red; */
    margin-bottom: 2rem;
    padding: 10px;
    gap: 20px;
}
.menu-list{
  /* border: 1px solid red; */
}
.drawer-nav div{
  /* display: flex; */
  flex-direction: column;
  align-items: left;
  text-align: left;
  /* border: 1px solid red; */
}
.drawer-nav-2{
  /* width: 500px; */
  display: flex;
  flex-direction: row;
  padding: 3px;
  margin: 10px;
}
.drawer-nav button{
    border: none;
    background-color: white;
    cursor: pointer;
    /* border: 1px solid red; */
    font-size: 16px;
}
.drawer-Body{
    /* border: 1px solid red; */
    display: flex;
    gap:1px;
    left: 0;
    text-align: left;
    width: 90%;
    justify-content: left;
    flex-direction: row;
}
.drawer-Body div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 12px;
    font-weight: 800;
    /* border: 1px solid blue; */

}
.drawer-Body input{
    width: 80%;
    left: 0;
    height: 10px;
    padding: 5px;
    border: none;
    /* background-color: rgb(215, 224, 233); */
    font-size: 10px;
}
.where-menu{
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: repeat(3,1fr);
  align-items: center;
}

.where-items img{
  width:100px;
  margin: 10px;
  border: 1px solid black;
}
.where-items{
  text-align: center;
  margin: 10px;
}

/* .middle-buttons{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;    
    border-radius: 50px;
    padding: .6rem;
    border: none;
    background-color: white;
} */

.n-middle button{
    border: none;
    background-color: white;
    margin: 5px;
    /* border: 1px solid red; */
    cursor: pointer;
  }
  .middle-buttons-guest{
    color: gray;
  }


  
.n-left {
    flex: 1;
    align-items: center;
    /* justify-content: left; */
    display: flex;
    padding-left: -10px;
    /* border: 1px solid blue; */
  }
.n-middle {
    /* display: flex; */
    /* width: 4px; */
    /* border: 1px solid red; */
    padding: .4rem;
    align-items: center;
    font-size: 14px;
    /* margin-bottom: 1rem; */

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;    
    border-radius: 18px;
  }


  .n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: 400;
    font-size: 20px;
    gap: 1rem;
  }
  .n-right :nth-child(1){
    /* border: 1px solid red; */
    border: none;
    background-color: white;
    cursor: pointer;

  }
  .n-right a{
    text-decoration: none;
    color: black;
  }
  .stack{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;    
    border-radius: 50px;
    padding: .6rem;
    border: none;
    background-color: white;
  }

  
  .r-logo{
        width:"3rem";
        height:"2rem";
        border:"none"; 
        background:"white";
  }

