.footerDrawer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    
}

.drawerButton, .drawerCloseButton{
    background-color: white;
    border: none;
    font-weight: 600;
    /* font-size: 12px; */
    cursor: pointer;
}
.drawerButton :hover{
    text-decoration: underline;
}
.drawerCloseButton{
    width: 40px;
    margin: 20px;
}



.drawer{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 12px;
    /* margin-top: 10px; */
}